body{
  background-color:  #d9d9d9
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 90px;
    text-align: left;
    padding-bottom: 5px;
    padding-right: 5px;
}
input{
  display: inline-block;
  width: 238px;
  padding-bottom: 5px;
  border-radius: 5px;
}
textarea{
  border-radius: 5px;
  resize: none;
}
button{
  border-radius: 5px;
}
select{
  border-radius: 5px;
  width: 150px;
}
hr{
  width: 680px;
  display: inline-block;
}
#nameLabel{
  display: inline-block;
  clear: none;
  float: none;
  padding-right: 5px;
}
#name{
  display: inline-block;
  clear: none;
}
#heightLabel{
  display: inline-block;
  clear: none;
  float: none;
  padding-right: 5px;
}
#height{
  display: inline-block;
  clear: none;
}
#meleeLabel{
  width: 165px;
  padding-right: 10px;
}
#rangedLabel{
  width: 165px;
  padding-right: 10px;
}
#protectionLabel{
  width: 165px;
  padding-right: 10px;
}
#utilityLabel{
  width: 165px;
  padding-right: 10px;
}
#melee{
  width: 500px;
}
#ranged{
  width: 500px;
}
#protection{
  width: 500px;
}
#utility{
  width: 500px;
}
#personalityLabel{
  padding-bottom: 0px;
}
#linkSpan{
  text-align: center;
  display: inline-block;
  width: 680px;
  margin: auto;
}
#link{
  width: 90px;
}
@media only screen and (max-device-width: 480px) {
  #output{
    font-size: 0.875em;
  }
  #personality{
    font-size: 0.875em;
  }
}
